@model Gimify.Entities.Posts

<div class="container">
	<h2>Create Post</h2>
	<form asp-action="Create" method="post">
		<div>
			<label asp-for="name" class="form-label"></label>
			<input asp-for="name" class="form-control"/>
		</div>
		<div>
			<label asp-for="description" class="form-label"></label>
			<input asp-for="description" class="form-control" />

			<div class="mt-3">
				<button type="submit" class="btn btn-primary">Public Post</button>
			</div>
		</div>
	</form>
</div>