
@{
    ViewData["Title"] = "MassCalculator";
}
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div>
        <h1>Калькулятор норми БЖВ</h1>
    </div>
</div>

